<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>D0828725-3DE5-43FB-BDEC-FF90DB9DE9A7</string>
			<string>A171158B-D12C-4A2A-A40E-221873AE80E4</string>
			<string>F1A4B1E4-3324-4E7F-B102-EA9FC8D5EED3</string>
			<string>------------------------------------</string>
			<string>8C97BBC9-9456-4329-BAAB-AB223FEFC72F</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>8C97BBC9-9456-4329-BAAB-AB223FEFC72F</key>
			<dict>
				<key>items</key>
				<array>
					<string>3D80B4C9-9D0F-42BD-9440-E69FDE044CBA</string>
					<string>7AAC044D-D320-47B8-85E6-F20D3EE6B3D7</string>
				</array>
				<key>name</key>
				<string>Server</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Ruby Livecode</string>
	<key>ordering</key>
	<array>
		<string>5005ED25-4281-4325-B6B6-35C4A219200A</string>
		<string>D0828725-3DE5-43FB-BDEC-FF90DB9DE9A7</string>
		<string>A171158B-D12C-4A2A-A40E-221873AE80E4</string>
		<string>F1A4B1E4-3324-4E7F-B102-EA9FC8D5EED3</string>
		<string>3D80B4C9-9D0F-42BD-9440-E69FDE044CBA</string>
		<string>7AAC044D-D320-47B8-85E6-F20D3EE6B3D7</string>
	</array>
	<key>uuid</key>
	<string>2A003063-9054-4398-9E53-F0139603A721</string>
</dict>
</plist>
