<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>EE55E7B6-39B9-4BC0-85EB-852988B69D78</string>
			<string>22A9E7FB-E6FD-4947-AF3A-5E8D159BE37A</string>
			<string>E8B46073-3A2D-4FC4-AB88-AAF48AB053BF</string>
			<string>------------------------------------</string>
			<string>FF3809E1-B5F0-4BD9-BBD8-8A9CF6D2E16E</string>
			<string>C3FF49D3-D727-461B-8134-927BB0137A30</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>C3FF49D3-D727-461B-8134-927BB0137A30</key>
			<dict>
				<key>items</key>
				<array>
					<string>72B2E34E-3EBE-4C80-B298-2E9075EE682E</string>
				</array>
				<key>name</key>
				<string>Devices</string>
			</dict>
			<key>FF3809E1-B5F0-4BD9-BBD8-8A9CF6D2E16E</key>
			<dict>
				<key>items</key>
				<array>
					<string>D0136514-392A-461E-9CAB-E4A2CE5043EE</string>
					<string>D816FEAD-CA3E-4AC1-9CDB-A295F52DDD31</string>
					<string>D36FA15D-4509-4ECC-B586-BD08C3600976</string>
				</array>
				<key>name</key>
				<string>Setup</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Ruby Livecode</string>
	<key>ordering</key>
	<array>
		<string>22A9E7FB-E6FD-4947-AF3A-5E8D159BE37A</string>
		<string>E8B46073-3A2D-4FC4-AB88-AAF48AB053BF</string>
		<string>CA052909-B1BF-4933-9319-303DFE579EC1</string>
		<string>EE55E7B6-39B9-4BC0-85EB-852988B69D78</string>
		<string>D0136514-392A-461E-9CAB-E4A2CE5043EE</string>
		<string>D816FEAD-CA3E-4AC1-9CDB-A295F52DDD31</string>
		<string>D36FA15D-4509-4ECC-B586-BD08C3600976</string>
		<string>72B2E34E-3EBE-4C80-B298-2E9075EE682E</string>
	</array>
	<key>uuid</key>
	<string>B098CE9D-97A9-4B38-A943-0C336062FF8E</string>
</dict>
</plist>
